<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="<%= url('/style.css') %>"> -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Barrio|Cinzel');

    .make_url {
      margin-top: 3em;
      border-radius: 15px;
      border: none;
      height: 3em;
      width: 20em;
      color: black;
      font-family: 'Cinzel', serif;
      font-size: 1.5em;
      text-align: center;
    }

    h1 a:hover{
      text-decoration: none;
    }

    .submit {
      margin-top: 5em;
      border-radius: 15px;
      width: 10em;
      height: 2.5em;
      border: none;
      background-color: rgb(255, 0, 255);
      color: white;
    }

    .submit:hover {
      background-color: black;
      color: rgb(255, 0, 255);
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 3pt 2pt rgb(255, 0, 255);
    }

    .dirty {
      font-family: 'Barrio', cursive;
      color: rgba(255, 0, 255, 1);
      font-size: 3em;
    }

    h2.title{
      margin-top: 3em;
      margin-bottom: 3em;
      color: white;
      font-size: 5em;
      font-family: 'Cinzel', serif;
    }

    a.dirty:hover {
      color: rgba(255, 0, 255, 1);
    }

    .news {
      font-family: 'Cinzel', serif;
      color: white;
      font-size: 3em;
    }

    a.news:hover {
      color: white;
    }

    .main {
      text-align: center;
      margin-top: 10em;
    }

    body {
      background-color: black;
    }

    </style>
    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= yield %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- <script src="<%= url('jquery-1.9.1.min.js') %>"></script>
    <script src="<%= url('jquery.flip.min.js') %>"></script>
    <script src="<%= url('main.js') %>"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
